@import url("./harrypotter.css");
body{
   
   
}

.head h1{
    width:fit-content;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size:30px;
    margin-left: 30px;
    margin-top: 10px;
}
.head{
    width: 100%;
    background-color: black;
    display: inline-flex;
}
.burger{
    position: relative;
    
    top:10px;
    margin-top: 4%;
}
.burger .burgerr{
    width:40px;
    height: 5px;
    border-radius: 4px;
    background-color: white;
    margin-top: 10px;

}
.choice a{
    height: 40px;
    color:white;
    text-align: center;
    font-size: 25px;
     display: grid;
     text-decoration: none;
     margin-right: 50px;
     
}
.choice{
    background-color:black;
    width: 100%;
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    display: none;
    margin-left: 300px;
    text-align: center;
    position:relative ;
    right: 300px;
    margin-top: 30px;
}
.body{
    margin-top: 0px;
}
.trilogy::-webkit-scrollbar{
    display: none;
}
.trilogy{
   
    margin-left: 90px;
    margin-top: 30px;
    display: flex;
    color:white;
  overflow-x: auto;
}
.image-wrapper{
    overflow-x: auto;
    display: flex;
    margin-left: 50px;
    margin-top: 0px;
    
}
.image-wrapper img {
    width:120px;
    height: 200px;
}

.header{
    /* background-image: url("./img/bg2.jpg"); */
    width:100%;
    height: 40px;
    color: white;
    text-align: center;
    
}
.container{
    width: fit-content;
    height: fit-content;
   background-color:gray;
    
}