body{
    background-image: url("./img/bg.jpg");
   /* position: fixed; */
}

.head h1{
    width:fit-content;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size:70px;
    margin-left: 30px;
    margin-top: 10px;
}
.head{
    background-color: black;
    display: inline-flex;
}
.choice a{
    
    text-align: center;
    font-size: 25px;
     display: inline;
     text-decoration: none;
     margin-right: 50px;
    
}
.choice{
    margin-left: 300px;
    text-align: center;
    width: fit-content;
    margin-top: 30px;
}
.body{
    margin-top: 0px;
}
.trilogy::-webkit-scrollbar{
    display: none;
}
.trilogy{
    /* width:5000px; */
    margin-left: 90px;
    margin-top: 30px;
    display: flex;
    color:white;
  overflow-x: auto;
}
.image-wrapper{
    overflow-x: auto;
    display: flex;
    margin-left: 50px;
    margin-top: 0px;
    
}
.image-wrapper img {
    width:120px;
    height: 200px;
  }

.header{
    /* background-image: url("./img/bg2.jpg"); */
    width:100%;
    height: 40px;
    color: white;
    text-align: center;
    
}